.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: beige;
    color: black;
    padding: 16px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: black solid 8px;
}
/* Need to change the colors */

.product-image {
    fill: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.add-button {
    background-color: wheat;
    border-radius: black solid 8px;
}